{% for profile in credentials_profiles %}
[profile {{ profile.name }}]
region = {{ profile.region }}
{% endfor %}

{% for account in accounts %}
{% if account.credentials_profile is defined %}
{% if account['roles'] is defined %}
{% for role in account['roles'] %}
[profile {{ account.name }}-{{ role|lower }}]
region = {{ credentials_profiles | selectattr("name", "equalto", account.credentials_profile ) | map(attribute='region') | first }}
source_profile = {{ account.credentials_profile }}
role_session_name = {{ ansible_env.USER }}
role_arn = arn:aws:iam::{{ account.account_id }}:role/{{ role }}
{% endfor %}
{% else %}
[profile {{ account.name }}]
region = {{ credentials_profiles | selectattr("name", "equalto", account.credentials_profile ) | map(attribute='region') | first }}
source_profile = {{ account.credentials_profile }}
role_session_name = {{ ansible_env.USER }}
{% endif %}
{% endif %}

{% endfor %}
