[default]
aws_access_key_id = none
aws_secret_access_key = none

{% for profile in credentials_profiles %}
{% if profile.aws_mfa_device is defined %}
[{{ profile.name }}-long-term]
aws_mfa_device = {{ profile.aws_mfa_device }}
{% else %}
[{{ profile.name }}]
{% endif %}
aws_access_key_id = {{ profile.aws_access_key_id }}
aws_secret_access_key = {{ profile.aws_secret_access_key }}

{% endfor %}
