{% for profile in signin_profiles %}
[{{ profile.name }}]
aws_account_id = {{ profile.signin_url_prefix }}
{% endfor %}

{% for account in accounts %}
{% if account.signin_url_profile is defined %}
{% set seq = [ '42d4f4', '469990', 'e6beff', 'fffac8', 'aaffc3', '808000', 'ffd8b1', 'fabebe' ] %}
{% set random_color = seq|random %}
{% for role in account['roles'] %}
{% set profile_name = account.name + '-' + role|lower %}
{% if account.signin_url_profile == "none" %}
[profile {{ profile_name }}]
{% else %}
[{{ profile_name }}]
source_profile = {{ account.signin_url_profile }}
{% endif %}
role_arn = arn:aws:iam::{{ account.account_id }}:role/{{ role }}
region = {{ credentials_profiles | selectattr("name", "equalto", account.credentials_profile ) | map(attribute='region') | first }}
{% if '-master-' in profile_name or '-organisation-' in profile_name %}
color = 34495e
{% elif '-identity-' in profile_name %}
color = 9b59b6
{% elif '-sharedservices-' in profile_name or '-ss-' in profile_name %}
color = 7f8c8d
{% elif '-audit-' in profile_name or '-security-' in profile_name %}
color = 800000
{% elif '-backup-' in profile_name %}
color = 9A6324
{% elif '-ci-' in profile_name %}
color = 3498db
{% elif '-dev-' in profile_name or '-sandpit-' in profile_name or '-sandbox-' in profile_name or '-spike-' in profile_name or '-nonprod-' in profile_name %}
color = 2ecc71
{% elif '-test-' in profile_name %}
color = f1c40f
{% elif '-uat-' in profile_name or '-sit-' in profile_name or '-preprod-' in profile_name %}
color = e67e22
{% elif '-prod-' in profile_name %}
color = f71c0c
{% elif '-stage-' in profile_name %}
color = ff84ff
{% else %}
color = {{ random_color }}
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}
